﻿@using GameShop.ViewModels
@model GamesListViewModel

<h1> All games</h1>
<h3>@Model.currentCategory</h3>

   

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        @foreach (Games game in Model.getAllGames)
        {
            <div class="col mb-4">
                <div class="card h-100 d-flex flex-column">
                    <img class="card-img-top img-fluid" src="@game.image" alt="@game.gameName">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">@game.gameName</h5>
                        <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            @game.shortDescription
                        </p>
                        <p class="card-text">Price: @game.price.ToString("c")</p>
                         <p><a class=" btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@game.gameID">Add to cart</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>