﻿@using GameShop.ViewModels
@model GamesListViewModel

<h1> All games</h1>
<h3>@Model.currentCategory</h3>
<div class="row mt-5 mb-2"
@{
    foreach (var game in Model.getAllGames)
    {
        <div class="col-lg-4">
        <img class="img-thumbnail" src="@game.image" alt="@game.gameName"/>
            <h2> Game: @game.gameName</h2>
            <p>Price: @game.price.ToString("c")</p>
            <p><a class=" btn btn-warning" href="#">More info</a></p>
        </div>
    }
}
</div>