@using GameShop.ViewModels
@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<h1> Favourite games</h1>
<div class="container">
    <div class="row">
@{
    foreach (Games game in Model.favGames)
    {
                <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top img-fluid" src="@game.image" alt="@game.gameName">
                            <div class="card-body" style="height: 200px;">
                                <h4 class="card-title">@game.gameName</h4>
                                <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        @game.shortDescription
                                </p>
                                <p class="card-text">Price: @game.price.ToString("c")</p>
                                <a href="#" class="btn btn-warning">More info</a>
                            </div>
                        </div>
                    </div>
        @* @Html.Partial("AllGames", game)
        //implementing part of HTML document *@
    }

}
</div>
</div>
