@using GameShop.ViewModels
@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<h1> Favourite games</h1>
<div class="container">
    <div class="row">
@{
    foreach (Games game in Model.favGames) //shows cards with game images and price for all favorite games
    {

                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="card h-100" style="width: 18rem; display: flex; flex-direction: column;">
                        <img class="card-img-top img-fluid" src="@game.image" alt="@game.gameName" style="height: 150px; object-fit: cover;">
                        <div class="card-body" style="height: 220px; display: flex; flex-direction: column; justify-content: space-between;">
                            <div>
                                <h5 class="card-title">@game.gameName</h5>
                                <div class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: normal; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">
                                    @game.shortDescription
                                </div>
                            </div>
                            <div class="text-center mt-auto">
                                <p class="card-text mb-0">Price: <strong>@game.price.ToString("c")</strong></p>
                                <a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@game.gameID">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>

        @* @Html.Partial("AllGames", game)
        //implementing part of HTML document *@
    }

}
</div>
</div>
